<div class="top_page">
  <div class="middlebar">
    <div class="languages">
      <span><a href="#"><img src="../assets/image/nation/mini_angleterre.gif">  
          <i (click)="showLanguage(show)"
          style="color:white;margin-left:5px;" class="glyphicon glyphicon-triangle-bottom"></i>  
          </a>
        <div id="languagelist"  style="display:none">
          <form name="lg_change" action="/en/players" id="lg_change" style="display:none" method="post">
            <input type="hidden" name="newlg" value="" id="newlg">
          </form>
          <span><a href="#"><img src="../assets/image/nation/mini_angleterre.gif"></a></span>

          <span><a href="#"><img src="../assets/image/nation/mini_angleterre.gif"></a></span>
          <span><a href="#"><img src="../assets/image/nation/mini_angleterre.gif"></a></span>

        </div>
      </span></div>

    <div class="logo"><a href="#"></a></div>
    <div class="social"><a class="facebook" href="https://www.facebook.com/pages/footballdatabase/174556769374"
        target="_blank"></a>
      <a class="twitter" href="https://twitter.com/footdatabase" target="_blank"></a>
    </div>
    <div class="rapidsearch">
      <div class="quicksearch">
        <form name="quicksearch" method="post" action="/en/search_result">
          <input type="text" maxlength="50" name="q" placeholder="Search">
          <input type="image" src="../assets/image/base/loupe.png">
        </form>
      </div>
    </div>
  </div>
  <div class="main_menu">
     <ul class="menu_pub">
      <li style="width:33%"><a href="/home"><span>Homepage</span></a></li>
      <li style="width:33%"><a href="/en/players"><span>Players</span></a></li>
      <li style="width:34%"><a href="/en/build"><span>Squad Team</span></a></li>
     </ul>
  </div>
</div>
<router-outlet></router-outlet>
<script>
  function showLanguage() {
    var getDiv = document.getElementById("languagelist");
    getDiv.style.display = "inline-block";
  }
</script>