<div class="main-content background-bright no-trans-all">
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="table-container">
                    <table class="table results playersearchresults">
                        <tbody>
                            <tr class="head">
                                <td width="5%" class="face"></td>
                                <td width="20%" class="player">Player</td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> OVR
                                    </a>
                                </td>
                                <td>
                                    POS
                                </td>
                                <td width="30">

                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> PAC
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> SHO
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> PAS
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> DRI
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> DEF
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> PHY
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> S/M
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> W/F
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> W/Rs
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        Foot
                                    </a>
                                </td>
                                <td class="ovr">
                                    <a class="th-sort-results">
                                        <i class="glyphicon glyphicon-triangle-bottom"></i> Stats
                                    </a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td width="5%" class="face">
                                    <a href="/en/fifa20/player/pele/271" target="_BLANK"><img
                                            src="https://www.futwiz.com/assets/img/fifa20/faces/237067.png"
                                            class="player-img"></a>
                                </td>
                                <td width="15%" class="player">
                                    <p class="name">
                                        <img src="https://www.futwiz.com/assets/img/fifa20/badges/112658.png"
                                            class="club">
                                        <a href="/en/fifa20/player/pele/271" target="_BLANK"
                                            style="color:#333;"><b>Pele</b></a>
                                    </p>
                                    <p class="team">
                                        <img src="https://www.futwiz.com/assets/img/fifa20/flags/54.png" class="nation">
                                        <a href="/en/fifa20/club/icons/rating/all/all/112658/0">Icons</a>
                                        |
                                        <a href="/en/fifa20/league/icons/rating/all/2118/0">ICO</a>
                                    </p>
                                </td>
                                <td class="ovr">
                                    <a routerLink="/detail" [queryParams]="{player:1}" >
                                        <div class="otherversion18 otherversion20-icon"
                                            style="background-image:url(../../../../../assets/image/base/goldcommon.png)">
                                            <div class="otherversion18-txt">98</div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    CAM
                                </td>
                                <td width="30">

                                </td>
                                <td class="statCol">
                                    <span class="statLabel">PAC</span>
                                    <span class="stat">95</span>
                                </td>
                                <td class="statCol">
                                    <span class="statLabel">SHO</span>
                                    <span class="stat">96</span>
                                </td>
                                <td class="statCol">
                                    <span class="statLabel">PAS</span>
                                    <span class="stat">93</span>
                                </td>
                                <td class="statCol">
                                    <span class="statLabel">DRI</span>
                                    <span class="stat">96</span>
                                </td>
                                <td class="statCol">
                                    <span class="statLabel">DEF</span>
                                    <span class="stat">60</span>
                                </td>
                                <td class="statCol">
                                    <span class="statLabel">PHY</span>
                                    <span class="stat">76</span>
                                </td>
                                <td>
                                    <span class="starRating">
                                        <i style="color:rgb(42, 190, 42)" class="glyphicon glyphicon-star">

                                        </i>
                                        5
                                    </span>
                                </td>
                                <td>
                                    <span class="starRating">
                                        <i style="color:rgb(42, 190, 42)" class="glyphicon glyphicon-star">

                                        </i>
                                        5
                                    </span>
                                </td>
                                <td>
                                    <span class="wrs">
                                        <span style=" font-family: 'Maven Pro', sans-serif;"
                                            class="green">H</span>/<span style=" font-family: 'Maven Pro', sans-serif;"
                                            class="orange">M</span> </span>
                                </td>
                                <td>
                                    Right
                                </td>
                                <td>
                                    2,415
                                </td>
                            </tr>
                            <ng-container *ngFor="let player of listPlayer">
                                <tr class="table-row">
                                    <td width="5%" class="face">
                                        <a routerLink="/detail" [queryParams]="{player:this.player.id}" ><img src="{{player.face}}"
                                                class="player-img"></a>
                                    </td>
                                    <td width="15%" class="player">
                                        <p class="name">
                                            <img src="https://www.futwiz.com/assets/img/fifa20/badges/112658.png"
                                                class="club">
                                            <a routerLink="/detail" [queryParams]="{player:this.player.id}" 
                                                style="color:#333;"><b>{{player.name}}</b></a>
                                        </p>
                                        <p class="team">
                                            <img src="{{player.flag}}" class="nation">
                                            <a
                                                href="/en/fifa20/club/icons/rating/all/all/112658/0">{{player.teamNavigation.name}}</a>
                                            |
                                            <a href="/en/fifa20/league/icons/rating/all/2118/0">{{player.season}}</a>
                                        </p>
                                    </td>
                                    <td class="ovr">
                                        <a href="/en/fifa20/player/pele/271" target="_BLANK">
                                            <ng-container *ngIf="player.season == 'ICO'">
                                                <div class="otherversion18 otherversion20-icon"
                                                    style="background-image:url(../../../../../assets/image/base/icon.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'TOTGSUCL'">
                                                <div class="otherversion18 otherversion20-totgsucl"
                                                    style="background-image:url(../../../../../assets/image/base/totgsucl.png)">
                                                    <div class="otherversion18-txt" style="color:#f5f5f5">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'GI'">
                                                <div class="otherversion18 otherversion20-gold-inform"
                                                    style="background-image:url(../../../../../assets/image/base/goldif.png)">
                                                    <div class="otherversion18-txt" style="color: #ffe28c">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'OTW'">
                                                <div class="otherversion18 otherversion20-otw"
                                                    style="background-image:url(../../../../../assets/image/base/otw.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'G'">
                                                <div class="otherversion18 otherversion20-gold"
                                                    style="background-image:url(../../../../../assets/image/base/goldcommon.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'SC'">
                                                <div class="otherversion18 otherversion20-scream"
                                                    style="background-image:url(../../../../../assets/image/base/scream.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'SBC'">
                                                <div class="otherversion18 otherversion20-sbcprem"
                                                    style="background-image:url(../../../../../assets/image/base/sbcprem.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'LIG1'">
                                                <div class="otherversion18 otherversion20-potmligue1"
                                                    style="background-image:url(../../../../../assets/image/base/ligue1.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'UCL'">
                                                <div class="otherversion18 otherversion20-icon"
                                                    style="background-image:url(../../../../../assets/image/base/uclcommon.png)">
                                                    <div class="otherversion18-txt" style="color:white">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'CS'">
                                                <div class="otherversion18 otherversion20-icon"
                                                    style="background-image:url(../../../../../assets/image/base/uclrare.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="player.season == 'DES'">
                                                <div class="otherversion18 otherversion20-icon"
                                                    style="background-image:url(../../../../../assets/image/base/potmbundes.png)">
                                                    <div class="otherversion18-txt">{{player.ovr}}</div>
                                                </div>
                                            </ng-container>


                                        </a>
                                    </td>
                                    <td>
                                        {{player.pos}}
                                    </td>
                                    <td width="30">

                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">PAC</span>
                                        <span class="stat">{{player.pac}}</span>
                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">SHO</span>
                                        <span class="stat">{{player.sho}}</span>
                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">PAS</span>
                                        <span class="stat">{{player.pas}}</span>
                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">DRI</span>
                                        <span class="stat">{{player.dri}}</span>
                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">DEF</span>
                                        <span class="stat">{{player.def}}</span>
                                    </td>
                                    <td class="statCol">
                                        <span class="statLabel">PHY</span>
                                        <span class="stat">{{player.phy}}</span>
                                    </td>
                                    <td>
                                        <span class="starRating">
                                            <i style="color:rgb(42, 190, 42)" class="glyphicon glyphicon-star">

                                            </i>
                                            {{player.sm}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="starRating">
                                            <i style="color:rgb(42, 190, 42)" class="glyphicon glyphicon-star">

                                            </i>
                                            {{player.wf}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="wrs">
                                            <span style=" font-family: 'Maven Pro', sans-serif;"
                                                class="green">H</span>/<span
                                                style=" font-family: 'Maven Pro', sans-serif;" class="orange">M</span>
                                        </span>
                                    </td>
                                    <td>
                                        {{player.foot}}
                                    </td>
                                    <td>
                                        {{player.stats}}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <div class="row">
                            <div class="col-2 prev">
                                <a (click)="movePrev(this.currentPage)" class="btn"
                                    style=" font-family: 'Maven Pro', sans-serif;">
                                    Previous
                                </a>
                            </div>
                            <div class="col-8">
                            </div>
                            <div class="col-2 next">
                                <a (click)="moveNext(this.currentPage)" class="btn"
                                    style=" font-family: 'Maven Pro', sans-serif;">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>